$primary-color: rgb(254, 254, 254);
$secondary-color: rgb(20, 20, 20);

$colour-primary: rgb(245, 245, 245);
$colour-secondary: rgb(17, 17, 17);
$colour-tertiary: rgba(199, 199, 199, 0.342);
$colour-primary-transparent: rgba($colour-primary, 0.6);
$colour-secondary-transparent: rgba($colour-secondary, 0.6);
$colour-tertiary-transparent: rgba($colour-tertiary, 0.01);
$border-radius: 5px;
$primaryfont: 'Raleway', sans-serif, Arial, Helvetica;